<div class="page_content">
    <div class="container">
        <div class="well">
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object img-thumbnail" src="images/profile_pic.jpg" width="150px" height="150px" alt="Brents Profile Picture">
                </div>
                <div class="media-body">
                    <h3>Thanks for checking out my application</h3>
                    <p>Hello, my name is Brent and I am an enthusiastic software developer with a background in billing systems, control systems, audio and fitness. I am looking for company that values collaboration as part of their development process.</p>
                    <p>I have developed in a range of object-orientated languages such as C++ and C# and have accessed data from a range of databases including SQL Server, MySQL and MS Access.</p>
                    <p>I am looking to further develop my web application skills particularly using .net and angular2 frameworks but am always willing and wanting to learn new technologies to add to my set of skills.</p>
                    <p>I have lead my teams in my last 2 roles and while I am looking to fall into a more development focused role I would have no hesitation in stepping up and leading a scrum or waterfall team to achieve greatness and produce working software the user wants.</p>
                </div>
            </div>
            <div class="work-detail">
                <h4>About the Application:</h4>
                <p>This site has an Angular1 front end and a .Net Core back end. It has IdentityServer registration and sign in using JWT tokena to protect the API endpoints used to store and 
                retrive the images the user has liked or disliked. It is hosted in AWS using SSL for secure communications between the front and back end server</p>
                <p>The code is available on my GitHub account: <a href="https://github.com/brent-edwards-online/career_hub">Brent's GitHub</a></p>
                <h5>Summary:</h5>
                <ul>
                    <li>Bachelor of Engineering - Electronics</li>
                    <li>Graduate Diploma - Computer Science</li>
                </ul>
                <h5>Skillset:</h5>
                <ul>
                    <li>Languages - C#, C++, C, VBA, VB, HTML, CSS, Javascript, Typescript, Assembly</li>
                    <li>Databases - SQL Server, MySQL, MS Access</li>
                    <li>Operating Systems - Embedded, Real-Time, Windows, Mac, Unix</li>
                    <li>Frameworks - Entity Framework, Angular1, Angular2, Bootstrap, Ionic></li>
                    <li>Tools - JIRA, Confluence, TeamCity, Octopus, Git, Bamboo</li>
                </ul>
                <h5>Contact:</h5>
                <ul>
                    <li>Phone: 0405 250 846</li>
                    <li>Email: <a href="mailto:brent@brentedwardsonline.com">brent@brentedwardsonline.com</a></li>
                    <li>Web: <a href="https://www.brentedwardsonline.com">www.brentedwardsonline.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
