    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header pull-left">
                <h2>{{$scope.serverError}}</h2>
            </div>
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="https://www.brentedwardsonline.com">
                    Rate My Image
                    <!--
                    <img alt="Brand" src="/images/CareerHub_logo_Powered_by_large.png">
                    -->
                </a>
            </div>
        </div>
    </nav>

