<div class="page_content">
    <div ng-if="isLoggedIn()">
        <div class="container" style="padding-top:50px">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">
                    <div class="panel panel-default">

                        <div class="panel-heading">Logout</div>
                        <div class="panel-body text-center">
                            <h1>You are logged in as {{currentUser}}</h1>
                        </div>
                        <div class="panel-body text-center">
                            <h1>Thanks for visiting</h1>
                        </div>
                        <div class="panel-footer text-center">
                            <button type="button" class="btn btn-info" ng-click="logout()">Logout</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="!isLoggedIn()">
        <div class="container" style="padding-top:50px">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-md-offset-3">
                    <form class="form-horizontal" name="loginForm" ng-controller="IndexController">
                        <div class="panel panel-default">

                            <div class="panel-heading">Login/Register</div>
                            <div class="panel-body">

                                <div class="form-group" ng-class="{ 'has-error' : loginForm.loginemail.$error.required && !loginForm.loginemail.$pristine }">
                                    <label for="loginemail" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="loginemail" name="loginemail" placeholder="Enter Email" ng-model="loginEmail" required>
                                        <span ng-show="loginForm.loginemail.$error.required && !loginForm.loginemail.$pristine" class="help-block">Your email is required.</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : loginForm.loginpassword.$error.required && !loginForm.loginpassword.$pristine }">
                                    <label for="loginpassword" class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder="Enter Password" ng-model="loginPassword" required>
                                        <span ng-show="loginForm.loginpassword.$error.required && !loginForm.loginpassword.$pristine" class="help-block">Password is required.</span>
                                    </div>
                                </div>

                                <div ng-show="registerEnabled">
                                    <div class="form-group" ng-class="{ 'has-error' : loginForm.registerfirstname.$error.required && !loginForm.registerfirstname.$pristine }">
                                        <label for="registerfirstname" class="col-sm-2 control-label">Firstname</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="registerfirstname" name="registerfirstname" placeholder="Enter first name" ng-model="registerFirstname" required>
                                            <span ng-show="loginForm.registerfirstname.$error.required && !loginForm.registerfirstname.$pristine" class="help-block">First name is required.</span>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-class="{ 'has-error' : loginForm.registerlastname.$error.required && !loginForm.registerlastname.$pristine }">
                                        <label for="registerlastname" class="col-sm-2 control-label">Lastname</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="registerlastname" name="registerlastname" placeholder="Enter last name" ng-model="registerLastname" required>
                                            <span ng-show="loginForm.registerlastname.$error.required && !loginForm.registerlastname.$pristine" class="help-block">Last name is required.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <button type="submit" class="btn btn-success" ng-click="continueAsGuest()">Continue as Guest</button>
                                <button type="submit" class="btn btn-info pull-right" ng-click="login()"style="margin-left:10px">Login</button>
                                <button type="submit" class="btn btn-info pull-right" ng-click="register()" >Register</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
