RateMyImage/CareerHub/bin/
RateMyImage/CareerHub/node_modules/
RateMyImage/CareerHub/obj/
RateMyImage/RateMyImage/bin/
RateMyImage/RateMyImage/node_modules/
RateMyImage/RateMyImage/obj/
RateMyImage/RateMyImage/Angular.zip
RateMyImage/.vs/RateMyImage/v15/Server/sqlite3/storage.ide-wal
RateMyImage/.vs/RateMyImage/v15/Server/sqlite3/storage.ide-shm
RateMyImage/.vs/RateMyImage/v15/Server/sqlite3/storage.ide
RateMyImage/.vs/RateMyImage/v15/Server/sqlite3/db.lock
RateMyImage/.vs/
*.zip
