<!DOCTYPE html>

<html lang="en" ng-app="careerHub">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="~/lib/AngularJS-Toaster/toaster.min.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-animate/angular-animate.min.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/lib/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="~/lib/AngularJS-Toaster/toaster.min.js"></script>
    <script src="~/scripts/app.js"></script>
    <script src="~/scripts/controllers.js"></script>
    <script src="~/scripts/services.js"></script>
</body>
</html>
