body {
    background: #000;
    color: #85C2C2;
}

div.well {
    margin-top: 10px;
}

.alert {

}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background: #000;
}

.navbar-default .navbar-brand, .well, .panel-body, .panel-footer, nav.navbar-default, .navbar-default .navbar-nav > li > a, .panel-default > .panel-heading {
    background: #000;
    color: #85C2C2;
}

.save {
    color: #b6ff00;
}

h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#navbar {
    /*padding-top: 22px;*/
}

#navbar img {
    z-index: 10;
}

/*
ul.nav.navbar-nav {
    background: #fff;
}
*/

.navbar-default {
    /*min-height: 100px;*/
    /*max-height: 100px;*/
}

.page_content {
    margin-top: 100px;
    margin-bottom: 100px;
}

ul.nav {
    margin: 0;
    padding: 0;
}

.image_container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image_container img {
    position: absolute;
    top: 50%;
    display: block;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    min-width: 100%;
}

.image-btn {
    display: block;
}

.view-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.footer-buttons {
    margin-top: 20px;
}

.card {
    margin: 5px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #85C2C2;
}